@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");
$primaryBtn: rgb(251, 194, 13);
@keyframes translateY_header {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes translateY_img {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes banner_button {
  from {
    padding: 10px 15px;
    font-size: 15px;
  }
  to {
    padding: 12px 17px;
    font-size: 17px;
  }
}
@keyframes arrow_down {
  from {
    margin-top: 20px;
    opacity: 1;
  }
  to {
    margin-top: 0;
    opacity: 0;
  }
}
h3 {
  text-align: center;
  font-size: 25px;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}
body {
  font-family: sans-serif;
  margin: 0;
}
.banner_container {
  img {
    width: 100%;
    animation: translateY_img 2s;
  }
}
button {
  // animation: banner_button 1s forwards infinite alternate;
  background-color: orange;
  padding: 10px 15px;

  align-self: center;
  margin: auto;
  border-radius: 15px;
  text-transform: uppercase;
  font-weight: 600;
  animation: banner_button 0.75s infinite alternate;
  position: absolute;
  border: none;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
.explain {
  height: 450px;
  background-color: rgb(223, 223, 223);
  padding: 30px 30px;
  position: relative;

  button {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0;
  }
  &-cards {
    margin-top: 50px;
    .explain_card {
      margin-top: 20px;
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 0 20px;
      background-color: white;

      margin: 0 10px;
      height: 200px;
      .title {
        text-align: center;
        padding: 10px 15px;
        font-weight: 600;
        font-size: 20px;
        color: orange;
        background-color: rgb(36, 35, 35);
        border-radius: 20px;
        position: absolute;
        top: -20px;
      }
      .base-title {
        font-size: 18px;
        line-height: 25px;
        padding: 0 30px;
        text-align: center;
      }
      .icon {
        color: $primaryBtn;
        font-size: 50px;
        padding: 15px 15px;
        border-radius: 50%;
        border-color: $primaryBtn;
        border-width: 5px;
        border-style: solid;
        position: absolute;
        bottom: -50px;
      }
    }
  }
}
.row {
  display: flex;
}
.col {
  &-4 {
    width: 25%;
  }
  &-3 {
    width: 33.33%;
  }
  &-2 {
    width: 50%;
  }
}
.product {
  position: relative;
  h3 {
    padding: 15px 0;
  }
  &_cards {
    padding: 0 50px;
    .product_card {
      img {
        width: 90%;
        display: block;
        margin: auto;
        border-radius: 10px;
        box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.7);
      }
      .product_description {
        text-align: center;
        font-size: 20px;
        padding: 15px 0;
      }
    }
  }
  button {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: -80px;
  }
}
.reason {
  background-image: linear-gradient(
    90deg,
    rgba(250, 225, 147, 1) 0%,
    rgba(251, 194, 13, 1) 20%,
    rgba(251, 194, 13, 1) 80%,
    rgba(250, 225, 147, 1) 100%
  );

  height: 700px;
  margin-top: 150px;
  transform: skewY(-1deg);
  &_content {
    transform: skewY(1deg);
    h3 {
      padding-top: 30px;
    }
  }
  .reason_cards {
    padding: 80px;
    .reason_card {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 130px;
      .hexagon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 126px;
        width: 200px;
        background-color: rgb(219, 219, 219);
        margin: 10px 0;
        border-radius: 10px;
        position: relative;

        &::after {
          content: "";
          display: block;
          position: absolute;
          bottom: 0px;
          background-color: inherit;
          width: 100%;
          height: 100%;
          transform: rotate(-60deg);
          border-radius: inherit;
        }
        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          background-color: inherit;
          width: 100%;
          height: 100%;
          transform: rotate(60deg);
          border-radius: inherit;
        }
        &_child {
          z-index: 1;
          background-color: rgb(240, 239, 239);
          width: 170px;
          height: 107px;
          .hexagon_content {
            z-index: 5;
            text-align: center;
            padding: 0 10px;
            font-size: 15px;
            line-height: 22px;
            font-weight: 600;
            color: rgb(4, 82, 105);
          }
          .hexagon_icon {
            font-size: 30px;
            padding: 15px 15px;
            border-radius: 50%;
            border-color: rgb(122, 122, 122);
            border-width: 2px;
            border-style: solid;
            position: absolute;
            top: -80px;
            z-index: 6;
          }
        }
      }
    }
  }
}
.talk {
  margin-top: 100px;
  padding: 0 200px;
  &_cards {
    margin-top: 100px;
    .talk_card {
      display: flex;
      justify-content: center;
      position: relative;
      .talk_img_container {
        display: block;
        width: 100%;
        position: absolute;
        top: -50px;
        left: 0;
        img {
          width: 100px;
          height: 100px;
          display: block;
          margin: auto;
        }
      }

      .talk_content {
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 20px 0;
        background-color: rgb(242, 242, 242);
        width: 80%;
        .first_p {
          margin-top: 60px;
          font-weight: 600;
          color: $primaryBtn;
          font-size: 22px;
        }
        .second_p {
          padding: 0 50px;

          line-height: 24px;
        }
        box-shadow: -2px 4px 10px -3px rgba(0, 0, 0, 0.7);
      }
    }
  }
  button {
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    margin-top: 75px;
  }
}
.share {
  margin-top: 200px;
  background-color: $primaryBtn;
  height: 500px;
  padding: 0 100px;
  transform: skewY(-1deg);
  h3 {
    padding: 40px 0;
  }
  &_content {
    transform: skewY(1deg);
  }
  &_cards {
    flex-wrap: wrap;
    .share_card {
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
      position: relative;
      &_content {
        width: 80%;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.5);
      }
      img {
        display: block;
        margin: auto;
        padding: 30px 0;

        height: 50px;
        object-fit: contain;
      }
    }
  }
}
.contact_container {
  margin: 70px 0;

  h3 {
    margin-bottom: 50px;
  }
  .contact {
    padding: 0 150px;
    &_content {
      box-shadow: 0px 10px 8px -3px rgba(0, 0, 0, 0.75);
      padding-top: 20px;
      h4 {
        font-size: 20px;

        text-align: center;
      }
      background-color: $primaryBtn;

      &_input {
        padding: 0 80px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        input {
          border: none;
          display: block;

          padding: 10px 0 10px 10px;
          margin-bottom: 17px;
          &:focus {
            outline: none;
            box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.31);
          }
        }
        textarea {
          border: none;
          padding: 10px 0 10px 10px;
          &:focus {
            outline: none;
            box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.31);
          }
        }
      }
      &_submit {
        display: flex;
        justify-content: space-around;
        padding: 30px 100px;

        input {
          padding: 10px 10px;
          border-radius: 10px;
          border: 0px solid;
          cursor: pointer;
          box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.31);
          background-color: orange;
        }
      }
    }
  }
  @import url("https://fonts.googleapis.com/css2?family=Lobster&family=Playfair+Display:ital@1&display=swap");
  .slide_container {
    margin: 0 100px;
    padding: 0 90px;
    background-color: $primaryBtn;
    padding-top: 20px;
    height: 450px;
    box-shadow: 0px 10px 8px -3px rgba(0, 0, 0, 0.75);
    p {
      font-size: 18px;
      font-weight: 600;
      line-height: 30px;
      font-style: italic;
      font-family: "Playfair Display", serif;
      letter-spacing: 1px;
    }
    &_slider {
      background-color: red;
      display: flex;
      position: relative;
      img {
        width: 100%;
      }

      .icon_next {
        cursor: pointer;
        position: absolute;
        right: -20px;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      .icon_previous {
        position: absolute;
        cursor: pointer;
        left: 25px;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      button {
        animation: none;
        border-radius: 0%;
        background-color: rgba(255, 255, 255, 0);
        .icon {
          font-size: 20px;
        }
      }
    }
  }
}
