.money {
  margin-top: 100px;
  padding: 0 200px;
  h4 {
    font-size: 20px;
  }
  span {
    color: orange;
  }
  .img_container {
    padding-top: 100px;
    padding-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 80%;
    }
  }
}
